{{ define "layout" }}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ChitChat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/static/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/static/css/font-awesome.min.css"
    />
    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </head>
  <body>
    {{ template "navbar" }}
    <div class="container">
      {{ template "content" }}
    </div>
  </body>
</html>

{{ end }}
